{{>layouts/header}}

{{!action : 입력받은 데이터를 어디로 보낼지 (localhost:8080/posts/create)}}
{{!method : 어떻게 데이터를 보낼지 (get/post 두가지 존재)}}
<form class="container" action="/posts/create" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{{>layouts/footer}}